<div class="row cptHome">
  <div ng-scroll-reveal="optionsBG" class="cptHome__background">
      <div  class="cptHome__background_el1"></div>
      <div  class="cptHome__background_el2"></div>
  </div>
</div>

<!--Section 1 -->
<div class="row" ng-scroll-reveal="optionsS1">
  <div class="col-xs-12">
    <div class="cptHome__section1 text-center">
     <p>Angular Scroll reveal is the implementation of a famous javascript <a href="https://github.com/jlmakes/scrollreveal"> animation library </a> 
     it's essentially a wrapper of the functionality provided by the library.</p>


    </div>
  </div>
</div>

<!--Section 2 -->
<div class="row" ng-scroll-reveal="optionsS2">
  <div class="col-xs-12">
    <div class="cptHome__section2 text-center">
     <p>you can do almost any animation with this library with a little effort</p>
    <div ng-scroll-reveal="optionsS2_1_box" class="col-xs-6">
      <div class="col-xs-4 cptHome__section2__box" ng-repeat="i in counter" ></div>
    </div>
     <div ng-scroll-reveal="optionsS2_2_box" class="col-xs-6">
        <div class="col-xs-4 cptHome__section2__box" ng-repeat="i in counter" ></div>
     </div>
    </div>
  </div>
</div>

<!--Section 3 -->
<div class="row" ng-scroll-reveal="optionsS3">
  <div class="col-xs-12">
    <div class="cptHome__section3 text-center">
     <p>lorem ipsum</p>

    </div>
  </div>
</div>